<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Trogon{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ render(controller(
            'App\\Controller\\LayoutController::navigation',
            { 'name': 'main' }
        )) }}
        {{ render(controller(
            'App\\Controller\\LayoutController::breadcrumb'
        )) }}
        <div class="container">
            {% block body %}{% endblock %}
            <footer class="footer">
                <span class="float-left">&copy; Trogon 2017 - {{ date() | date("Y") }}</span>
                <span class="float-right">Version: 2.5.2008</span>
            </footer>
        </div>
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
