{# templates/project/show.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="mb-4 px-4 py-5 text-black bg-light">
	<h1 class="display-4">Project {{ project.name }}</h1>
	<p class="lead">
{% if project.provider == 'bitbucket' %}
		<img alt="Bitbucket pull requests" 
			src="{{ badge(project.provider, 'pr', project.fullName, {style:'for-the-badge'}) }}"/>
{% endif %}
{% if project.provider == 'github' %}
		<img alt="GitHub pull requests" 
			src="{{ badge(project.provider, 'issues-pr', project.fullName, {style:'for-the-badge'}) }}"/>
		<img alt="GitHub license" 
			src="{{ badge(project.provider, 'license', project.fullName, {style:'for-the-badge'}) }}"/>
		<img alt="GitHub latest version"
			src="{{ badge(project.provider, 'v/tag', project.fullName, {style:'for-the-badge', label:'Release'}) }}"/>
		<img alt="GitHub downloads"
			src="{{ badge(project.provider, 'downloads', project.fullName, {style:'for-the-badge'}, 'total') }}"/>
{% endif %}
	</p>
	<hr class="my-4">
	<!-- description block -->
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Description {% if project.isArchived %}<span class="badge bg-info text-dark">Project is archived</span>{% endif %}</h5>
			<p class="card-text">{{ project.description }}</p>
			<a href="{{ project.repoLink }}" class="btn btn-secondary">Repository page</a>
		</div>
	</div>
</div>
{% endblock %}
